html {
    /*
     * Background pattern from Toptal Subtle Patterns 
     * https://www.toptal.com/designers/subtlepatterns/sakura/
     */
    background-image: url(/assets/img/background.jpg);
    
}

body{

	background-color:rgba(248, 248, 255, 0.815)
	


}